<form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value)">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        Digite um CEP valído:
      </div>
      <div class="ui-grid-col-6">
        <p-inputMask  mask="99999999" formControlName="cepUser"></p-inputMask>
      </div>
      <div class="ui-grid-col-6">
        <button pButton type="submit" label="Buscar CEP"></button>
      </div>
    </div>
  </div>
</form>

<p-table [value]="tudo">
  <ng-template pTemplate="header">
    <tr>
      <th>logradouro</th>
      <th>bairro</th>
      <th>cidade</th>
      <th>estado</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{logradouro}}</td>
      <td>{{bairro}}</td>
      <td>{{cidade}}</td>
      <td>{{estado}}</td>
    </tr>
  </ng-template>
</p-table>